#background{
	height: 100vh;
	width: 100vw;
}

.obstacle {
	height: 10vh;
	width: 10vw;
}


@keyframes platform-animation{

}

#plaform {
	animation-name: platform-animation;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-play-state: paused;

}

#player {
	position: absolute;
	left: 0;
}