
.text {
	display: block;
	margin-bottom: 0px;
	padding-top: 0px;
	font-family: 'fantasy', fantasy;
	font-size: 2em;
	color: white;
	width: 700px;
	margin-left: 300px;
	float: left;
}

.life{
	border-style: solid;
	border-color: white;
	border-width: 2px;
	margin-right: 3px;
	margin-top: 10px;
	border-spacing: 7px;
	background-color: red;
	float: left;
	display: block;
	width: 15px;
	height: 30px;
}


#main{
	height: 700px;
	background-image: url('../resources/brick.svg');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	display: block;
	animation-name: fadeIn;
	animation-duration: 1.8s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-play-state: paused;
	animation-fill-mode: none;
}

#startGame{
	display: block;
	animation-name: fadeOut;
	animation-duration: 1.8s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-play-state: paused;
	animation-fill-mode: forwards;
}

#gameTitle {
	display: inline-block;
	padding: 20px 20px;
	color: white;
	position: absolute;
	top: 15%;
	left: 26%;
	vertical-align: middle;
	font-family: 'papyrus', fantasy;
	font-weight: bold;
	text-decoration: none;
	font-size: 7vw;
	background-color: none;
}

#startButton {
	display: inline-block;
	padding: 30px 30px;
	color: white;
	position: absolute;
	top: 53%;
	left: 68%;
	vertical-align: middle;
	font-family: 'fantasy', fantasy;
	text-decoration: none;
	font-size: 5vw;
	background-color: #1E90FF;
	border: 3px solid #F0FFFF;
	transition: transform 0.3s ease-out;
}

#startButton:hover {
	transform:scale(1.8);
	color: red;
	background-color:#87CEFA;
}

#instruction {
	display: inline-block;
	padding: 15px 15px;
	color: white;
	position: absolute;
	top: 47%;
	left: 8%;
	vertical-align: middle;
	font-family: 'papyrus', fantasy;
	text-decoration: none;
	font-size: 1.5vw;
	background-color: none;
	border: 3px solid #F0FFFF;
}

#restartButton {
	display: inline-block;
	padding: 25px 25px;
	color: white;
	position: absolute;
	top: 70%;
	left: 40%;
	vertical-align: middle;
	font-family: 'fantasy', fantasy;
	text-decoration: none;
	font-size: 4.5vw;
	background-color: #1E90FF;
	border: 3px solid #F0FFFF;
}

#gameOverScene {
	display: block;
	animation-name: fadeIn;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-play-state: paused;
	animation-fill-mode: none;
}	

#gameover-container {
	transform: translate(500px,600px);
}

@keyframes gameover-animation {
    from { transform: rotate(0deg); font-size: 10px; opacity: 0; }
    to   { transform: rotate(360deg); font-size: 150px; opacity: 1; }
}

#gameOver {
	font-family: 'papyrus', fantasy;
	animation-name: gameover-animation;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-play-state: paused;
	animation-fill-mode: none;
}

#gameOverWording{
	display: inline-block;
	padding: 25px 25px;
	color: red;
	position: absolute;
	top: 26%;
	left: 28%;
	vertical-align: middle;
	font-family: 'papyrus', fantasy;
	text-decoration: none;
	font-size: 6.5vw;
	font-weight: bold;
	background-color: none;
}

#finalScore {
	display: inline-block;
	padding: 20px 20px;
	color: white;
	position: absolute;
	top: 45%;
	left: 40%;
	vertical-align: middle;
	font-family: 'papyrus', fantasy;
	text-decoration: none;
	font-size: 4vw;
	background-color: none;
}


span{
	float: left;
	display: block;
}



@keyframes landscape1-animation {
    0% { transform: translateX(100px); }
    50% { transform: translateX(-100px); }
    100% {transform: translateX(100px); }

}

@keyframes landscape2-animation {
    0% { transform: translateX(-100px); }
    50% { transform: translateX(100px); }
    100% {transform: translateX(-100px); }

}




@keyframes landscapeY-animation {
   from {transform: translateY(0px);}
	to {transform: translateY(-1000px);}

}

#landscape1Y {
       	animation-name: landscapeY-animation;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: paused;

}
#landscape2Y {
       	animation-name: landscapeY-animation;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: paused;


}
#landscape3Y {
       	animation-name: landscapeY-animation;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: paused;


}
#landscape4Y {
       	animation-name: landscapeY-animation;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: paused;


}

#landscape5Y {
       	animation-name: landscapeY-animation;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: paused;


}
#landscape1{
	  	animation-name: landscape1-animation;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

}
#landscape2{
	  	animation-name: landscape2-animation;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: paused;

}

#landscape3{
		animation-name: landscape1-animation;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: paused;


}

#landscape4{
	animation-name: landscape2-animation;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: paused;

	animation-delay: 3s;
}
#landscape5{
	animation-name: landscape1-animation;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: paused;


}


@keyframes platform-animation{
	from {transform: translateY(0px);}
	to {transform: translateY(-1000px);}

}

#platform1 {

		animation-name: platform-animation;
        animation-duration: 15s;
        animation-iteration-count: 1;
        animation-timing-function: linear;

        animation-play-state: paused;



}
#platform2 {

		animation-name: platform-animation;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        animation-play-state: paused;


}
#platform3 {

		animation-name: platform-animation;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        animation-play-state: paused;


}

#platform4 {

		animation-name: platform-animation;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        animation-play-state: paused;

}

#platform5 {

		animation-name: platform-animation;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        animation-play-state: paused;


}
#platform6 {

		animation-name: platform-animation;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        animation-play-state: paused;


}
#platform7 {

		animation-name: platform-animation;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        animation-play-state: paused;


}

#platform8 {

		animation-name: platform-animation;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        animation-play-state: paused;


}


@keyframes stingPlatform-animation{
	from {transform: translateY(0px);}
	to {transform: translateY(-1000px);}

}

#stingPlatform1 {

		animation-name: stingPlatform-animation;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: paused;

}
#stingPlatform2 {

		animation-name: stingPlatform-animation;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: paused;

}
#stingPlatform3 {

		animation-name: stingPlatform-animation;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: paused;

}
#stingPlatform4 {

		animation-name: stingPlatform-animation;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: paused;

}
#stingPlatform5 {

		animation-name: stingPlatform-animation;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: paused;

}

@keyframes player-animation{
	from {transform: translateY(0px);}
	to {transform: translateY(-1000px);}

}



#player {
		position: absolute;
		animation-name: player-animation;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: paused;

}

@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes player-move-Y{
	from{
		transform: translateY(0px);
	}
	to {
		transform: translateY(1000px);
	}
}

#playermoveY{
		position: absolute;
		animation-name: player-move-Y;
		animation-iteration-count: infinite;
		animation-fill-mode: forwards;
		animation-duration: 5s;
		animation-timing-function: linear;
		animation-play-state: paused;
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
